{% extends "base.html" %}

{% load static %}
{% block title %} Find Konco {% endblock %}

{% block page_content %}
<div class="div-find-konco">
    <h1 class="h-fk">Find Your Konco Here!</h1>
    <p class="text-fk"> Kamu bisa mencari teman yang ingin datang ke konser yang sama denganmu atau menambahkan dirimu disini</p>
    <a href="{% url 'findKonco:myformkonco' %}"><button  id="bt-fk">Add Me!</button></a>
</div>
{% for item in daftar_item %}
    <div class="card konco bg-danger text-white " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ item.namakonser }}</h5>
            <h6 class="card-subtitle mb-3  text-white ">{{ item.tempatkonser }}, {{ item.tanggalkonser }}</h6>
            <p class="card-text">{{ item.pesan }}</p>
            <h6 class="card-subtitle mb-3  text-white">{{ item.namalengkap }}</h6>
            <h6 class="card-subtitle mb-3  text-white">{{ item.notelepon }}</h6>
            <a href="{% url 'findKonco:mydelkonco' id=item.id%}" class="card-link text-white">Delete</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}