{% extends "base.html" %}

{% load static %}
{% block title %} Form Find Konco {% endblock %}
{% block page_content %}
<div class="div-find-konco">
  <h1 class="h-fk">Add Yourself Here!</h1>
  <p class="text-fk"> Silahkan lengkapi form berikut ini</p>
</div>
<div class ="outer-form form-column col-4 ">
  <form action="" method="POST" class="all-form">
      {% csrf_token %}
    <div class="form-group ">
        <label>Nama Lengkap</label>
        {{ form.namalengkap}}
    </div>
    <div class="form-group">
       <label>No Telepon</label>
       {{ form.notelepon }}
      
    </div>
    <div class="form-group">
       <label>Nama Konser</label>
        {{ form.namakonser }}
      
    </div>
    <div class="form-group">
       <label>Tempat Konser</label>
        {{ form.tempatkonser }}
      
    </div>
    <label for="InputTempat">Tanggal Konser</label>
    <div class="form-row">
      <div class="col-3.5">
          {{ form.tanggalkonser }}
      </div>
    </div>

    <div class="form-group">
      <label>Pesan</label>
         {{ form.pesan }}
    </div>
    <a href="{% url 'findKonco:myfindkonco' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
    <button type="submit" class="btn btn-primary btn-am">Add Me!</button>
  </form>
</div>
{% endblock %}