{% extends "base.html" %}

{% load static %}
{% block page_content %}
<div class ="outer-form form-column col-4 " style="padding-top:50px;">
  <form action="" method="POST" class="all-form">
      {% csrf_token %}
    <div class="form-group ">
        <label>Nama Konser</label>
        {{ form.namakonser }}
    </div>
    <div class="form-group">
       <label>ID Instagram</label>
       {{ form.instagram }}
      
    </div>
    <div class="form-group">
       <label>ID Twitter</label>
        {{ form.twitter }}
      
    </div>
    <div class="form-group">
       <label>Tempat Konser</label>
        {{ form.tempatkonser }}
    </div>
    <label for="InputTempat">Tanggal Konser</label>
    <div class="form-row">
      <div class="col-3.5">
          {{ form.tanggalkonser }}
      </div>
    </div>

    <div class="form-group">
      <label>Poster</label>
         {{ form.poster }}
    </div>
    
    <div class="form-group">
      <label>Pesan</label>
         {{ form.pesan }}
    </div>
    <a href="{% url 'konser:mykonser' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}