{% extends "base.html" %}

{% load static %}
{% block title %} Events {% endblock %}

{% block page_content %}
<div class="div-find-konco" style="padding-top:50px;">
    <h1 class="h-fk">Add Event Here!</h1>
    <p class="text-fk">Info terlengkap mengenai konser yang akan datang <br> kamu bisa menambahkan event konser di sini</p>
    <a href="{% url 'konser:myformkonser' %}"><button  id="bt-kon">Add Event Here!</button></a>
</div>
{% for item in daftar_item %}
    <div class="card konco bg-light text-dark" style="max-width: 37rem;">
        <div class="card-header bg-info title-name text-white">{{ item.namakonser }}</div>
        <img class="card-img-top imgwrap" src= "{{ item.poster }}" alt="Card image cap">
        <div class="card-body text-primary"></div>
            <h5 class="card-title">{{ item.tempatkonser }}, {{ item.tanggalkonser }}</h5>
            <p class="card-text">{{ item.pesan }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}