{% extends 'base.html' %}
{%load static%}
{% block title %} Merchandise {% endblock %}

{% block page_content %}
<div class = "paddingtop50" style="padding-top:50px;">
<div class="container">
    <h1 class = "h-fk">Buy Merchandise Here!</h1>
    <p class="text-fk">Kamu bisa melihat merchandise apa saja yang dijual oleh event-event konser yang akan datang</p>
</div>
<div class="container">
    {% for merch in CONTENT%}
    
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{merch.merchImage}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{merch.merchName}}</h5>
              <p class="card-text">{{merch.merchDescription}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: {{merch.merchPrice}}</li>
              <li class="list-group-item">Category: {{merch.merchCategory}} </li>
              <li class="list-group-item">Related Concert: {{merch.concertName}} </li>
            </ul>
            <div class="card-body">
              <a href="{{merch.merchImage}}" class="card-link">Full Image</a>
            </div>
          </div>
        
        
    </div>
    {% endfor %}
    <div class = "container">
            <a href="{% url 'jualmerch:merchForm' %}"><button  id="bt-fk">Add Merch!</button></a>
    </div>
   
</div>
</div>
{% endblock %}