{% extends "base.html" %}

{% load static %}
{% block page_content %}
<div class ="outer-form form-column col-4" style="padding-top:50px;" >
  <form action="" method="POST" class="all-form">
      {% csrf_token %}
    <div class="form-group ">
        <label>Merchandise Name</label>
        {{ form.merchNameForm}}
    </div>
    <div class="form-group">
       <label>Category</label>
       {{ form.merchCategoryForm}}
      
    </div>
    <div class="form-group">
       <label>Price</label>
        {{ form.merchPriceForm}}
      
    </div>
    <div class="form-group">
       <label>Desciprtion</label>
        {{ form.merchDescriptionForm }}
      
    </div>
    
    <div class="form-group">
      <label>Image url</label>
         {{ form.merchImageForm }}
    </div>
    <div class="form-group">
        <label>Related Concert</label>
        {{ form.concertNameForm}}
    </div>

    <a href="{% url 'jualmerch:landing' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
