{% extends "base.html" %}

{% load static %}
{% block page_content %}
<div class="top-lp">
    <p class="text-lp">MALAS NONTON KONSER SENDIRIAN?</p>
    <a href=#><button class="bt-lp">Find Your Konco Here!</button></a>
</div>
<div class="about-lp">
    <p class="heading-about-lp">ABOUT US</p>
    <p class="text-about-lp"> Kami adalah platform untuk menyatukan pecinta musik dari berbagai golongan dan genre</p>
</div>
{% endblock %}
