{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Konco Konser</title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
            <a class="navbar-brand" href="#">KoncoKonser</a>
            <div class= "collapse navbar-collapse" >
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item"><a href=#>Find Your Konco Here!</a></li>
                    <li class="nav-item"><a href=#>Events</a></li>
                    <li class="nav-item"><a href=#>Merchandise</a></li>
                    <li class="nav-item"><a href="{% url 'JualTiket' %}">Tickets</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block page_content %}
    {% endblock %}

    <footer>
        <div class ="footer-border" >
            <p class="text-footer"> Made with love from Arkan, Michelle, Rofi, Tesa </p>
        </div>
    </footer>
</body>
</html>
