{% extends "base.html" %}

{% load static %}
{% block page_content %}
<div class="tiket-lp" id="text-sell" style="padding-top:50px;">
    <p class="tiket-title-lp">Sell Your Ticket Here!</p>
    <p class="tiket-subtitle-lp">Silahkan lengkapi form berikut ini</p>
</div>
<div class ="outer-form form-column col-4 ">
  <form action="" method="POST" class="all-form">
      {% csrf_token %}

    <div class="form-group">
        <label>Nama Konser</label>
        {{ form_jualtiket.namaKonser}}
    </div>

    <div class="form-group">
       <label>Kategori</label>
       {{ form_jualtiket.jenisTiket }}
    </div>

    <div class="form-group">
       <label>Tempat Konser</label>
        {{ form_jualtiket.tempat }}
    </div>

    <label for="InputTempat">Tanggal Konser</label>
    <div class="form-row">
      <div class="col-3.5">
          {{ form_jualtiket.tanggal }}
      </div>
    </div>

    <div class="form-group ">
        <label>Nama Penjual</label>
        {{ form_jualtiket.namaPenjual}}
    </div>

    <div class="form-group">
       <label>No Telepon</label>
       {{ form_jualtiket.nomorTelepon }}
    </div>

    <div class="form-group">
       <label>Foto Tiket</label>
       {{ form_jualtiket.fotoTiket }}
    </div>

    <div class="form-group">
      <label>Alasan</label>
         {{ form_jualtiket.alasan }}
    </div>

    <a href="{% url 'jualtiket:viewjualtiket' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
