{% extends "base.html" %}

{% load static %}
{% block title %} Jual Tiket {% endblock %}
{% block page_content %}

<div class="tiket-lp" style="padding-top:50px;">
    <p class="tiket-title-lp">Find Your Ticket Here!</p>
    <p class="tiket-subtitle-lp">Kamu bisa menjual tiket kamu disini jika kamu tidak bisa hadir saat hari H konser karena urusan mendadak</p>
    <a href="{% url 'jualtiket:isijualtiket' %}"><button class="bt-tiket-lp">Sell Here!</button></a>
</div>

{% for item in list_jualtiket %}
<div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4 gambar-tiket">
      <img src="{{ item.fotoTiket }}" class="card-img">
    </div>
    <div class="col-md-8 tiket">
      <div class="card-body">
        <h5 class="card-title">{{ item.namaKonser }}</h5>
        <h6 class="card-text">{{ item.jenisTiket }}</h6>
        <h7 class="card-text">{{ item.tempat }}, {{item.tanggal}}</h7>
        <p></p>
        <h8 class="card-text">{{ item.namaPenjual }} ({{ item.nomorTelepon }})</h8>
        <p></p>
        <p class="card-text">{{ item.alasan }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
